.example {
  font-size: 2rem;
  display: flex;
  width: 14rem;
}

.example_arguments {
    flex-grow: 1;
}
.example:nth-child(3n) {
  page-break-after: always;
}

.example_input {
  font-size: 1.5rem;
  height: 2rem;
  margin-bottom: 0.5rem;
  border-radius: 0.2rem;
  width: 4rem;
  justify-content: center;
}

.true_result {
  background-color: rgb(27, 106, 27);
  color: white;
  font-size: 1.5rem;
  height: 2rem;
  margin-bottom: 0.5rem;
  border-radius: 0.2rem;
  width: 4rem;
}

.false_result {
  background-color: rgb(180, 49, 49);
  color: white;
  font-size: 1.5rem;
  height: 2rem;
  margin-bottom: 0.5rem;
  border-radius: 0.2rem;
  width: 4rem;
}
